{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": 11
                }
            }
        ]
    ],
    "plugins": [
        "@vue/babel-plugin-transform-vue-jsx",
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        }
    }
}
