{
    "extends": [
        "vue",
        "plugin:vue/recommended",
        "eslint:recommended"
    ],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "env": {
        "browser": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "semi": [
            2,
            "always"
        ],
        "indent": [
            "error",
            4
        ],
        "vue/html-indent": [
            "error",
            4
        ],
        "vue/script-indent": [
            "error",
            4,
            {
                "baseIndent": 1,
                "switchCase": 1
            }
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "yoda": [
            "error",
            "always"
        ]
    },
    "overrides": [
        {
            "files": [
                "*.vue"
            ],
            "rules": {
                "indent": "off"
            }
        }
    ],
    "globals": {
        "Vue": true,
        "siteParams": true,
        "ROUTE_BASE": true,
        "ADAPTER": true,
        "IS_STRICT": true
    }
}
